html{
    font-size: 62.5%;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

:root{
    --color-headings: #fff;
    --color-body: #918ca4;
    --color-body-image: #fff;
    --color-border: #ccc;
    --border-radius: 30px;
    --color-primary: #ff8c00;
}

/*Typography*/

body{
    font-family: 'Inter', sans-serif;
    font-size: 2.4rem;
    line-height: 1.4;
    color: var(--color-body);
}

h1,
h2,
h3{
    margin-bottom: 1rem;
    line-height: 1.1;
}

h1{
    font-size: 7rem;
    color: var(--color-headings);
}

h2{
    font-size: 4rem;
    color: var(--color-primary);
}

h3{
    font-size: 3rem;
    color: var(--color-primary);
}

@media screen and (min-width: 1024px) {
    body {
      font-size: 1.8rem;
    }
  
    h1 {
      font-size: 8rem;
    }
  
    h2 {
      font-size: 4rem;
    }
  
    h3 {
      font-size: 2.4rem;
    }
    
    }

    /*Grids*/

    .grid{
        display: grid;
  
    }

    
@media screen and (min-width: 768px){
    .grid--1x2 {
      grid-template-columns: repeat(2,1fr);
    }
  
  }

  /*Cards*/

  .card{
    border-radius: 7px;
    border: 2px solid #000;
    margin: 20px;
    
}

.card__heading{
    background-image: url('https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=780&q=80');
    background-size: cover;
    background-position: center;
    height: 200px;
}

.card__body{
    padding: 2rem 3rem;
    
}

/*Blocks*/

.block{
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header{
  text-align: center;
  margin-bottom: 4rem;
}

.block-image{
  background-image: ("../images/hostel.jpg");
  color: var(--color-body-image);
}

.block__image h1,
.block__image h2,
.block__image h3{
  color: ;
}

.block--color{
  background: #ccc;
}

.container{
  max-width: 1104px;
  margin: 0 auto;
}

/*Buttons*/

.btn{
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 2rem 3rem;
  border-radius: 40px;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  margin: 1rem 0;
}

.btn--primary{
  background: var(--color-primary);
  color: #fff;
}

.btn--outline{
  background: transparent;
  border: 2px solid var(--color-headings);
}

.btn--outline:hover{
  background: var(--color-primary);
}

.btn--block{
  width: 100%;
  display: inline-block;
}

.btn--primary:hover{
  background: #918ca4;
}

@media screen and (min-width: 768px){
  .btn{
    font-size: 1.5rem;
  }
}

/*Collapsibles*/

.collapsible__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapsible__heading{
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__content{
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
  opacity: 0;
}

.collapsible__chevron{
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible--expanded .collapsible__chevron{
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content{
  max-height: 100vh;
  opacity: 1;
}

/*Hero*/

.form{
  padding: 2rem;
}

.form .input{
  width: 200px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.app{
  color: var(--color-primary);
}


/*Icons*/

.icon{
  width: 40px;
  height: 40px;
}

.icon--primary{
  fill: var(--color-primary);
}

.icon--secondary{
  fill: red;
}

.icon-container{
  width: 64px;
  height: 64px;
  background: #1b0760;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/*Feature block*/

.feature{
  gap: 3rem 2rem;
  margin: 12rem 0;
}

.feature__heading{
  margin: 1rem 0;
}

.feature__image{
  width: 100%;
}

@media screen and (min-width: 768px) {

}

/*Footers*/

.footer{
  background: #666;
  padding: 2rem;
  border-bottom: 1px solid red;
}

.footer__heading{
  text-transform: uppercase;
  font-weight: 600;
  
}

.footer__brand{
  text-align: center;
  margin-top: 5rem;
}

.footer__copyright{
  font-size: 2.1rem;
  color: var(--color-headings);
  opacity: .3;
}

.footer__section{
  border-bottom: 1px solid red;
  padding: 2rem;
}

@media screen and (min-width: 768px){
  .footer__sections{
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .footer .collapsible__chevron{
    display: none;
  }

  .footer .collapsible__content{
    max-height: 100%;
    opacity: 1;
  }

  .footer__brand{
    order: -1;
    margin-top: 1rem;
  }

  .footer__section{
    border: 0;
  }
}



/*Lists*/

.list{
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list--inline .list__item{
  display: inline-block;
  margin-right: 4rem;

}

.list--tick{
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item{
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px){
  .list--tick .list__item{
    padding-left: 0;
  }
}

/*Navigation bar*/

.banner{
  background: url("../images/hostel.jpg");
  background-color: #444;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}

.nav {
  background: #727272;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.nav__list{
  width: 100%;
  margin: 0;
}

.nav__item{
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.nav__item>a{
  color: var(--color-primary);
  transition: transition 0.3s;
}

.nav__item>a:hover{
  color: #fff;
}

.nav__toggler{
  opacity: .5;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler{
  opacity: 1;
}

.nav__brand{
  font-size: 4rem;
  color: var(--color-primary);
  font-weight: 700;
}

@media screen and (min-width: 768px){
  .nav__toggler{
    display: none;
  }

  .nav__list{
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item{
    border: none;
  }



}

/*Profile*/

.profile{
  padding: 3rem 5rem;
}

.profile__image{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid var(--color-primary);
  background-size: cover;
}

.profile__header{
  display: flex;
  justify-content: space-between;
}

span{
  margin-top: 0;
}

/*Testimonials*/

.testimonial{
  padding: 3rem;
}

.testimonial__image{
  width: 100%;
}

@media screen and (min-width: 768px){
  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }

  .testimonial .quote {
    margin-left: 6rem;
  }
}
