html{
    font-size: 62.5%;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

:root{
    --color-headings: #1b0760;
    --color-body: #918ca4;
    --color-body-image: #5c5577;
    --color-border: #ccc;
    --border-radius: 30px;
}

/*Typography*/

body{
    font-family: 'Inter', sans-serif;
    font-size: 2.4rem;
    line-height: 1.4;
    color: var(--color-body);
}

h1,
h2,
h3{
    color: var(--color-headings);
    margin-bottom: 1rem;
    line-height: 1.1;
}

h1{
    font-size: 7rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3rem;
}

@media screen and (min-width: 1024px) {
    body {
      font-size: 1.8rem;
    }
  
    h1 {
      font-size: 8rem;
    }
  
    h2 {
      font-size: 4rem;
    }
  
    h3 {
      font-size: 2.4rem;
    }
    
    }

    /*Grids*/

    .grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    
@media screen and (min-width: 768px){
    .grid--1x3 {
      grid-template-columns: repeat(2,1fr);
    }
  
  }

  /*Cards*/

  .card{
    border-radius: 7px;
    border: 2px solid red;
    margin: 20px;
    
}

.card__heading{
    background-image: url('https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=780&q=80');
    background-size: cover;
    background-position: center;
    height: 200px;
}

.card__body{
    padding: 2rem 3rem;
    
}

/*Blocks*/

.block{
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header{
  text-align: center;
  margin-bottom: 4rem;
}

.block__image{
  background-image: ;
  color: var(--color-body-image);
}

.block__image h1,
.block__image h2,
.block__image h3{
  color: ;
}

.container{
  max-width: 1104px;
  margin: 0 auto;
}

/*Profile*/

.profile{
  padding: 3rem;

}

.profile__image{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid yellowgreen;
  background-size: cover;
}

.profile__header{
  display: flex;
  justify-content: space-between;
}

span{
  margin-top: 0;
}

/*Testimonials*/

.testimonial{
  padding: 3rem;
}

.testimonial__image{
  width: 100%;
}

@media screen and (min-width: 768px){
  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }

  .testimonial .quote {
    margin-left: 6rem;
  }
}
